<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/home">Home</a>
    <a href="/contact-us">ContactUs</a>
    <br> ABOUT US
    <br>
    <h1>LOREM</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus maiores inventore asperiores! Vero eaque tempora fugit amet rem, omnis illum harum esse dolor. Laudantium sapiente iusto debitis quos provident sint?</p>
</body>

</html>